<div class="relative w-full h-full">
    <div class="">
        <div class="background-video w-[1200px] sm:w-full">
            <video class="w-full h-auto sm:h-full object-cover" autoplay loop muted playsinline>
                <source src="assets/wheather3.mp4" type="video/mp4" />
            </video>
        </div>


        <div class="container sm:container absolute top-0 left-12 flex flex-col justify-center items-center h-full w-full">
            <div class="h-96 sm:w-[500px] w-[350px] p-8 rounded-2xl" style="background-color: rgba(0, 0, 0, 0.4);">
                <div>
                    <input type="text" class="absolute w-[300px] sm:w-[430px] pl-4 h-12 rounded-full outline-none"
                        placeholder="Search Your Country" [(ngModel)]="inputValue" />
                    <button mat-flat-button class="absolute sm:left-[340px] sm:top-[6px] top-1 left-[210px] h-full px-4" [disabled]="!inputValue"
                        (click)="searchWeather()">Search</button>
                </div>

                <div *ngIf="weatherData" class="text-white pt-4">
                    <h2>Weather in {{ country }}</h2>
                    <p>Temperature: {{ weatherData.temperature }}</p>
                    <p>Wind: {{ weatherData.wind }}</p>
                    <p>Description: {{ weatherData.description }}</p>

                    <h3>3-Day Forecast</h3>
                    <ul>
                        <li *ngFor="let forecast of weatherData.forecast">
                            Day {{ forecast.day }}: {{ forecast.temperature }}, Wind: {{ forecast.wind }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>